In [1]:
import pandas as pd
import numpy as np
from random import sample
from pandas import *
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# Libraries from Alan
from __future__ import division
import json
import os
from matplotlib.pyplot import *

import requests
#import tmy_ids

# Show Plots in the Notebook
%matplotlib inline

# Make Plots larger
rcParams['figure.figsize']= (10, 6)
rcParams['font.size'] = 14

%matplotlib inline

print 'Pandas version: ' + pd.__version__

Pandas version: 0.14.0

In [2]:
stations52 = pd.read_csv("C:\Users\dustin\Documents\IPython Notebooks\stations52.csv", index_col=['index'])
stations52.head()

                                            station_name
index
0                                          ALYESKA AK US
1      ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US
2           ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US
3                                         AUKE BAY AK US
4                   BARROW W POST W ROGERS AIRPORT AK US

In [3]:
temps = pd.read_csv(r"C:\Users\dustin\Dropbox\AKWarm Documentation\02. Work\01. Task 2 - AKWarm library update\Climate Library\NOAA 1981-2010 Monthly Averages - All AK Locs.csv", index_col=None, header=0)
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,MLY-TMIN-NORMAL,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201001,0,Q,0,Q,...,35,Q,-9999,,-9999,,-9999,,-9999,
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201002,0,Q,0,Q,...,85,Q,-9999,,-9999,,-9999,,-9999,
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201003,0,Q,0,Q,...,155,Q,-9999,,-9999,,-9999,,-9999,
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201004,4,Q,-7777,Q,...,269,Q,-9999,,-9999,,-9999,,-9999,
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201005,99,Q,24,Q,...,355,Q,-9999,,-9999,,-9999,,-9999,

In [4]:
temps['DATE'] = to_datetime(temps['DATE'], format="%Y%m")
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,MLY-TMIN-NORMAL,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-01-01,0,Q,0,Q,...,35,Q,-9999,,-9999,,-9999,,-9999,
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-02-01,0,Q,0,Q,...,85,Q,-9999,,-9999,,-9999,,-9999,
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-03-01,0,Q,0,Q,...,155,Q,-9999,,-9999,,-9999,,-9999,
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-04-01,4,Q,-7777,Q,...,269,Q,-9999,,-9999,,-9999,,-9999,
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-05-01,99,Q,24,Q,...,355,Q,-9999,,-9999,,-9999,,-9999,

In [5]:
# Creates month column
temps['MONTH'] = pd.DatetimeIndex(temps['DATE']).month
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38,MONTH
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-01-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,1
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-02-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,2
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-03-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,3
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-04-01,4,Q,-7777,Q,...,Q,-9999,,-9999,,-9999,,-9999,,4
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-05-01,99,Q,24,Q,...,Q,-9999,,-9999,,-9999,,-9999,,5

In [6]:
temps['DBTempAvg'] = temps['MLY-TAVG-NORMAL'].map(lambda x: float(x) / 10)
temps = temps[['STATION_NAME', 'MONTH', 'DBTempAvg']]
temps.head()

      STATION_NAME  MONTH  DBTempAvg
0  BUTTE 1 W AK US      1       12.2
1  BUTTE 1 W AK US      2       17.6
2  BUTTE 1 W AK US      3       25.5
3  BUTTE 1 W AK US      4       37.1
4  BUTTE 1 W AK US      5       47.7

In [7]:
station_list = stations52['station_name']
#station_list

In [8]:
temps52 = temps[temps['STATION_NAME'].isin(stations52['station_name'])]
temps52.head()

           STATION_NAME  MONTH  DBTempAvg
144  COLLEGE 5 NW AK US      1        1.0
145  COLLEGE 5 NW AK US      2        6.3
146  COLLEGE 5 NW AK US      3       15.5
147  COLLEGE 5 NW AK US      4       32.8
148  COLLEGE 5 NW AK US      5       48.5

In [9]:
temps52.to_csv("Main_Weather_Cities_Monthly_Temps.csv")