In [23]:
import pandas as pd
import numpy as np
from random import sample
from pandas import *
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# Libraries from Alan
from __future__ import division
import json
import os
from matplotlib.pyplot import *

import requests
#import tmy_ids

# Show Plots in the Notebook
%matplotlib inline

# Make Plots larger
rcParams['figure.figsize']= (10, 6)
rcParams['font.size'] = 14

%matplotlib inline

print 'Pandas version: ' + pd.__version__

Pandas version: 0.14.0

In [24]:
stations52 = pd.read_csv("C:\Users\dustin\Documents\IPython Notebooks\stations52.csv", index_col=['index'])
stations52.head()

                                            station_name
index
0                                          ALYESKA AK US
1      ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US
2           ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US
3                                         AUKE BAY AK US
4                   BARROW W POST W ROGERS AIRPORT AK US

In [25]:
temps = pd.read_csv(r"C:\Users\dustin\Dropbox\AKWarm Documentation\02. Work\01. Task 2 - AKWarm library update\Climate Library\NOAA 1981-2010 Monthly Averages - All AK Locs.csv", index_col=None, header=0)
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,MLY-TMIN-NORMAL,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201001,0,Q,0,Q,...,35,Q,-9999,,-9999,,-9999,,-9999,
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201002,0,Q,0,Q,...,85,Q,-9999,,-9999,,-9999,,-9999,
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201003,0,Q,0,Q,...,155,Q,-9999,,-9999,,-9999,,-9999,
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201004,4,Q,-7777,Q,...,269,Q,-9999,,-9999,,-9999,,-9999,
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,201005,99,Q,24,Q,...,355,Q,-9999,,-9999,,-9999,,-9999,

In [26]:
temps['DATE'] = to_datetime(temps['DATE'], format="%Y%m")
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,MLY-TMIN-NORMAL,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-01-01,0,Q,0,Q,...,35,Q,-9999,,-9999,,-9999,,-9999,
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-02-01,0,Q,0,Q,...,85,Q,-9999,,-9999,,-9999,,-9999,
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-03-01,0,Q,0,Q,...,155,Q,-9999,,-9999,,-9999,,-9999,
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-04-01,4,Q,-7777,Q,...,269,Q,-9999,,-9999,,-9999,,-9999,
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-05-01,99,Q,24,Q,...,355,Q,-9999,,-9999,,-9999,,-9999,

In [27]:
# Creates month column
temps['MONTH'] = pd.DatetimeIndex(temps['DATE']).month
temps.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MLY-CLDD-BASE45,Completeness Flag,MLY-CLDD-BASE50,Completeness Flag.1,...,Completeness Flag.34,MLY-TAVG-STDDEV,Completeness Flag.35,MLY-DUTR-STDDEV,Completeness Flag.36,MLY-TMAX-STDDEV,Completeness Flag.37,MLY-TMIN-STDDEV,Completeness Flag.38,MONTH
0,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-01-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,1
1,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-02-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,2
2,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-03-01,0,Q,0,Q,...,Q,-9999,,-9999,,-9999,,-9999,,3
3,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-04-01,4,Q,-7777,Q,...,Q,-9999,,-9999,,-9999,,-9999,,4
4,GHCND:USC00501180,BUTTE 1 W AK US,24.4,61.52,-149.05611,2010-05-01,99,Q,24,Q,...,Q,-9999,,-9999,,-9999,,-9999,,5

In [28]:
temps['DBTempAvg'] = temps['MLY-TAVG-NORMAL'].map(lambda x: float(x) / 10)
temps = temps[['STATION_NAME', 'MONTH', 'DBTempAvg', 'ELEVATION']]
temps.head()

      STATION_NAME  MONTH  DBTempAvg ELEVATION
0  BUTTE 1 W AK US      1       12.2      24.4
1  BUTTE 1 W AK US      2       17.6      24.4
2  BUTTE 1 W AK US      3       25.5      24.4
3  BUTTE 1 W AK US      4       37.1      24.4
4  BUTTE 1 W AK US      5       47.7      24.4

In [29]:
station_list = stations52['station_name']
#station_list

In [36]:
temps52 = temps[temps['STATION_NAME'].isin(stations52['station_name'])]
temps52.head()

           STATION_NAME  MONTH  DBTempAvg ELEVATION
144  COLLEGE 5 NW AK US      1        1.0     298.1
145  COLLEGE 5 NW AK US      2        6.3     298.1
146  COLLEGE 5 NW AK US      3       15.5     298.1
147  COLLEGE 5 NW AK US      4       32.8     298.1
148  COLLEGE 5 NW AK US      5       48.5     298.1

In [38]:
elevations52 = temps52.groupby("STATION_NAME").max()
elevations52 = elevations52[['ELEVATION']]
elevations52

                                                  ELEVATION
STATION_NAME
ALYESKA AK US                                          82.9
ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT AK US      40.2
ANNETTE WEATHER SERVICE OFFICE AIRPORT AK US           33.2
AUKE BAY AK US                                         12.8
BARROW W POST W ROGERS AIRPORT AK US                    9.4
BETHEL AIRPORT AK US                                   31.1
BETTLES AIRPORT AK US                                 195.7
BIG DELTA AIRPORT AK US                               386.5
BIG RIVER LAKES AK US                                  18.3
CANNERY CREEK AK US                                    13.7
COLD BAY AIRPORT AK US                                 23.8
COLLEGE 5 NW AK US                                    298.1
COLLEGE OBSERVATORY AK US                               182
COOPER LANDING 5 W AK US                              114.3
CORDOVA M K SMITH AIRPORT AK US                         9.4
DUTCH HARBOR AK US                                        3
EAGLE AIRPORT AK US                                   276.8
EIELSON FIELD AK US                                   166.7
FAIRBANKS INTERNATIONAL AIRPORT AK US                 131.7
GLEN ALPS AK US                                       688.8
GULKANA AIRPORT AK US                                 478.8
HOMER 8 NW AK US                                      329.2
HOMER AIRPORT AK US                                    19.5
ILIAMNA AIRPORT AK US                                  55.8
JUNEAU INTERNATIONAL AIRPORT AK US                      4.9
KENAI MUNICIPAL AIRPORT AK US                          27.7
KING SALMON AIRPORT AK US                              20.4
KITOI BAY AK US                                        18.3
KODIAK AIRPORT AK US                                   24.4
KOTZEBUE RALPH WEIN MEMORIAL AIRPORT AK                 9.1
KUPARUK AK US                                          19.5
LITTLE PORT WALTER AK US                                4.3
MAIN BAY AK US                                         17.4
MATANUSKA AGRICULTURAL EXPERIMENT STATION AK US        52.4
MCGRATH AIRPORT AK US                                 101.5
NABESNA AK US                                           890
NOME MUNICIPAL AIRPORT AK US                              4
NORTH POLE AK US                                      144.8
NORTHWAY AIRPORT AK US                                522.1
PORT ALSWORTH AK US                                    79.2
SEWARD AIRPORT AK US                                    6.7
SITKA AIRPORT AK US                                     4.3
ST PAUL ISLAND AIRPORT AK US                           10.7
SUTTON 1 W AK US                                      167.6
TALKEETNA AIRPORT AK US                               106.7
TANANA CALHOUN MEMORIAL AIRPORT AK US                  69.2
TOK AK US                                             493.8
UNIVERSITY EXPERIMENT STATION AK US                   144.8
VALDEZ WEATHER SERVICE OFFICE AK US                      29
WHITES CROSSING AK US                                  82.3
WRANGELL AIRPORT AK US                                 17.1
YAKUTAT AIRPORT AK US                                  10.1

In [39]:
elevations52.to_csv("Main_Weather_Cities_Elevation_v2.csv")