In [9]:
import pandas as pd
import numpy as np
from random import sample
from pandas import *
import matplotlib.pyplot as plt

%matplotlib inline

In [10]:
# This section reads a csv file and tests to make sure the header is correct

df = pd.read_csv(r"C:\Users\dustin\Dropbox\AKWarm Consolidated\CSV Data for IRS Tax Credit Sampling.csv", index_col=None, header=0)
df.head()

,ProjectID,LocationID,Address,City,Rating Type,Rating_Date,RatingPoints,FileName,YearBuilt,MetadataID,...,APP_Oil2,APP_Propane,APP_Birch,APP_Spruce,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,644,34229,,ATKA,As_Is,39:00.0,91.2,re-created 644.hm2,1985,2971,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,648,36723,,ATKA,As_Is,39:00.0,91.2,re-created 648.hm2,1985,4572,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,655,34231,,ATKA,As_Is,00:00.0,91.2,re-created 655.hm2,1985,2974,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,4058,2836,215 SHOTGUN ALY,SITKA,As_Is,00:00.0,86.3,Dave Lubin re-created 4058.hm2,1997,4834,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,6429,37176,38365 MOOSE RANGE DR,STERLING,As_Is,49:00.0,86.0,Gail/Orville McWethy re-created 6429.hm2,NaN,7992,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# This function chooses x ratings at random from a dataframe

def SampleX(df, x):
    
# create random index 
    rindex = np.array(sample(xrange(len(df)), x))

# Uses random index to select 10 ratings from the data frame 
    random_samples = df.iloc[rindex]
    
    return random_samples

In [12]:
ancsa_regions = (20, #Aleut
                13, #Sealaska Corporation - outside Juneau
                18, #Cook Inlet Regional (CIRI) - outside Anchorage Borough
                17, #Cook Inlet Regional (CIRI) - Anchorage Borough only 
                22, #Doyon - Fairbanks North Star Borough only
                21, #Calista
                25, #NANA Regional Corporation
                15, #Ahtna-Chugach
                23, #Doyon - outside Fairbanks North Star Borough
                14, #Sealaska Corporation - Juneau only
                26, #Bering Straits Native Corporation
                16, #Bristol Bay Native Corporation
                24, #Arctic Slope Regional Corporation
                19, #Koniag
                )

In [13]:
# Need to manually set the percentage of ratings you want sampled
sample_pct = 0.18

# This function calculates the number of regional samples that should be performed based on the proportion of ratings in 
# the region to the total number of ratings and the manually set sample percentage.
def representative_sample(df, region_id, sample_percent):
    total_ratings = df['ProjectID'].nunique()
    regional_df = df.query('ANCSARegionId == %s' % region_id)
    total = regional_df['ProjectID'].nunique()
    sample_size = int(round(total * sample_percent))
    
    return sample_size 

# This function samples the number entered in a particular region
def sample_region(df, region_id, sample_number):
    regional_df = df.query('ANCSARegionId == %s' % region_id)
    regional_samples = SampleX(regional_df, sample_number)

    return regional_samples

all_samples = pd.DataFrame()    # Blank DataFrame to start with
for reg_id in ancsa_regions:
    samplesize = representative_sample(df, reg_id, sample_pct)
    samples = sample_region(df, reg_id, samplesize)
    all_samples = all_samples.append(samples)
all_samples.to_excel('Randomly_Sampled_AKWarm_Test_Files_18_percent.xlsx', sheet_name="Test_Files")

In [ ]:
# This function randomly samples 10 files from BEES, As_Is, and Wx_As_Is files using a region mask input.

#def sample_region(*args):
#    df, region_mask = args
#    regional_df = df[region_mask]
#    As_Is, BEES, Wx_As_Is = split_ratings( regional_df )
#    regional_samples = location_samples(As_Is, BEES, Wx_As_Is)
    
#    return regional_samples

In [ ]:
# This section determines the regions which should be sampled and then samples them.  
#To change regions, simply change the ANCSA region ID.

#anchorage_mask = df['ANCSARegionId'] == 17
#anchorage_samples = sample_region(df, anchorage_mask)
#fairbanks_mask = df['ANCSARegionId'] == 22
#fairbanks_samples =  sample_region(df, fairbanks_mask)
#juneau_mask = df['ANCSARegionId'] == 14
#juneau_samples = sample_region(df, juneau_mask)
#calista_mask = df['ANCSARegionId'] == 21
#calista_samples = sample_region(df, calista_mask)
#beringstraits_mask = df['ANCSARegionId'] == 26
#beringstraits_samples = sample_region(df, beringstraits_mask)

In [3]:
# This section appends all of the different regional samples into a single data frame and then exports it to Excel.

#all_samples = anchorage_samples.append(fairbanks_samples, ignore_index=True)
#all_samples = all_samples.append(juneau_samples, ignore_index=True)
#all_samples = all_samples.append(calista_samples, ignore_index=True)
#all_samples = all_samples.append(beringstraits_samples, ignore_index=True)
#all_samples.to_excel('Randomly_Sampled_AKWarm_Test_Files6-29.xlsx', sheet_name="Test_Files")

NameError: name 'anchorage_samples' is not defined

In [ ]:
# Splits Ratings into As_Is, BEES, and Wx_As_Is files

#def split_ratings( df ):
    
#    mask2 = df['RatingType'] == 'As_Is'
#    As_Is = df[mask2]

#    mask3 = df['RatingType'] == 'BEES'
#    BEES = df[mask3]

#    mask4 = df['RatingType'] == 'Wx_As_Is'
#    Wx_As_Is = df[mask4]
    
#    return As_Is, BEES, Wx_As_Is

In [ ]:
# This function randomly samples 10 As_Is, BEES, and Wx_As_Is ratings for a given location specific 
# data frame and returns a dataframe with all of the samples

#def location_samples(*args):
#    As_Is, BEES, Wx_As_Is = args

#    rand_as_is = Sample10(As_Is)
#    rand_bees = Sample10(BEES)
#    rand_wx_as_is = Sample10(Wx_As_Is)
#    bees_as_is = rand_as_is.append(rand_bees, ignore_index=True)
#    all_random_samples = bees_as_is.append(rand_wx_as_is, ignore_index=True)

#    return all_random_samples